@{
    ViewBag.Title = "Gravatar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gravatar</h2>

<p>
    @ReCaptcha.GetHtml(publicKey: "6LecNM8SAAAAAN4NQCrZldy8jDxYW6d3oxkvnpdy", theme: "white")
</p>
<p>
    @LinkShare.GetHtml("Linkshare example")
</p>
<p>
    @LinkShare.GetHtml("Linkshare example", null, null, null, new LinkShareSite[]{ LinkShareSite.Twitter, LinkShareSite.Facebook })
</p>
<p>
    @Gravatar.GetHtml("nicekhj@gmail.com")
</p>
<p>
    @Gravatar.GetHtml("nicekhj@gmail.com", 40)
</p>
<p>
    @Twitter.Search("선대인", 200)
</p>
<p>
    @Twitter.Profile("nicekhj", 200, backgroundShellColor:"White", shellColor:"#822222", tweetsBackgroundColor:"White", tweetsColor:"Black", tweetsLinksColor:"Black")
</p>

